/* Estilo para as setas de controle do carrossel */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75px;
    color: #fff;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

/* Estilo para a seta para descer a página */
.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 75px;
    color: #fff;
    cursor: pointer;
    z-index: 50;
}

/* Estilo para o carrossel */
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
}

.carousel img.active {
    display: block;
    animation: fade 2s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}